ion-content ion-toolbar {
    --background: translucent;
  }
  
  ion-content{
  
    --ion-background-color:#f1f1f1;
  }
  
  ion-item{
  
    --ion-background-color:white;
  }
  
  
  ion-toolbar{
  
    --ion-background-color:#9cc545;
  }