<ion-app>
  <ion-header translucent>
    <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>        
            <ion-icon style="font-size: 25px;" (click)="goHome();" name="arrow-back-outline"></ion-icon>      
          </div>
        </ion-col>
        <ion-col>
          <div>    
            <ion-title *ngIf='!registerContent' style="text-align: right;font-size:13px;margin-top: 6px;">Hesabın yok mu?<b (click)="registerPage()"> Kaydol</b></ion-title>
            <ion-title *ngIf='registerContent' style="text-align: right;font-size:13px;margin-top: 6px;">Hesabın zaten var mı?<b (click)="loginPage()"> Giriş Yap</b></ion-title></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen hide-header *ngIf='!registerContent' padding>
    
    <h2 style="font-family: cursive;text-align: center;margin-top: 10%;margin-bottom: 20px;">Esnafım</h2>
    <form #userForm="ngForm">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [ngModel]="email" name="email"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label position="stacked">Şifre</ion-label>
      <ion-input [ngModel]="password" type="password" name="password"></ion-input>
    </ion-item> 
    <ion-button expand="full" color="tertiary" style="text-transform: none" (click)="authService.Login(userForm)" style="margin-top:5%;text-transform: none">Giriş Yap</ion-button>
    </form>
</ion-content>

<ion-content fullscreen hide-header *ngIf='registerContent'>
  <h2 style="font-family: cursive;text-align: center;margin-top: 10%;margin-bottom: 20px;">Esnafım</h2>
  <form #userForm="ngForm">
  <ion-item>
    <ion-label position="stacked">Ad</ion-label>
    <ion-input [ngModel]="ad" name="ad"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked">Soyad</ion-label>
    <ion-input [ngModel]="soyad" name="soyad"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked">Adres</ion-label>
    <ion-textarea [ngModel]="adres" name="adres"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Telefon</ion-label>
    <ion-input [ngModel]="telefon" name="telefon"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [ngModel]="email" name="email"></ion-input>
  </ion-item> 
  <ion-item>
    <ion-label position="stacked">Şifre</ion-label>
    <ion-input [ngModel]="sifre" type="password" name="sifre"></ion-input>
  </ion-item> 
  <ion-button expand="full" color="tertiary" (click)="authService.Register(userForm)" style="margin-top:5%;text-transform: none">Kayıt Ol</ion-button>
</form>
</ion-content>
</ion-app>
