<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Sepetim</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list> 
      <ion-item>
        <ion-label>Halley (8)</ion-label>
        <ion-badge color="medium" slot="end">100 TL</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Biskolata (2)</ion-label>
        <ion-badge color="medium" slot="end">24 TL</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label >Toplam</ion-label>
        <ion-badge color="dark" slot="end" >124 TL</ion-badge>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="primary">Sipariş Ver</ion-button>
  </ion-content>
</ion-app>