<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title style="font-family: cursive;font-size: 21px;">Sepetim</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list style="margin-top: 10px;" *ngFor="let order of orders">
      <ion-item>      
        <ion-label> {{order?.urun_adi}}</ion-label>
        <ion-note slot="end" color="warning">{{order?.urun_fiyat}} TL</ion-note>
      </ion-item>     
    </ion-list>
    

  </ion-content>
  <ion-footer>
    <ion-button expand="full" color="success" style="height: 54px;" (click)="orderApproved(orders)">         
      <ion-grid>
        <ion-row>
          <ion-col style="border-right: 2px solid white;">
            <div>Toplam : {{totalPrice}} TL</div>
          </ion-col>
          <ion-col>
            <div>
             Sepeti Onayla
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-button>
   
  </ion-footer>
</ion-app>