<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title style="text-align: center;">Sepetim</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list> 
      <ion-item>
        <ion-label>Halley (8)</ion-label>
        <ion-badge  slot="end">100 ₺</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Biskolata (2)</ion-label>
        <ion-badge  slot="end">24 ₺</ion-badge>
      </ion-item>
     
      <ion-item>
        <ion-label><strong>Toplam Tutar</strong></ion-label>
        <ion-badge color="success" slot="end" >124 ₺</ion-badge>
      </ion-item>
    </ion-list>
    <ion-button expand="full" color="light">Sipariş Ver</ion-button>
  </ion-content>
</ion-app>