<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title >Dükkanlar</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="adresSec()">Adres Seç</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-item style="margin-top: 2%;" *ngIf="adresFiltresi">
      <ion-label>İl</ion-label>
      <ion-select ok-text="Tamam" cancel-text="Kapat">
        <ion-select-option value="dos">İstanbul</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 2%;" *ngIf="adresFiltresi">
      <ion-label>İlçe</ion-label>
      <ion-select ok-text="Tamam" cancel-text="Kapat">
        <ion-select-option value="dos">Fatih</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 2%;" *ngIf="adresFiltresi">
      <ion-label>Semt</ion-label>
      <ion-select ok-text="Tamam" cancel-text="Kapat">
        <ion-select-option value="dos">Şehremini</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item color="secondary" *ngIf="adresFiltresi">
        <ion-label style="text-align: center;">Dükkanlar</ion-label>
      </ion-item>
      <ion-item (click)="goDukkanDetay();">
        <ion-label>İdris Bakkal</ion-label>
        <ion-icon name="chevron-forward"></ion-icon>      
      </ion-item>
      <ion-item>
        <ion-label>Manav</ion-label>
        <ion-icon name="chevron-forward"></ion-icon>      
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-app>