<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: sans-serif;font-size: 17px;color:white">Profilim</ion-title>
    <ion-buttons slot="primary">
      <ion-icon name="exit-outline" (click)="exit();" style="font-family: sans-serif;font-size: 22px;text-align: center;padding-right: 20px;color:white"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-top: 2.5%">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn2.iconfinder.com/data/icons/website-icons/512/User_Avatar-512.png">
      </ion-avatar>
      <ion-label>{{user?.ad}} {{user?.soyad}}</ion-label>
    </ion-item>
    <ion-item>    
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <div>
                <ion-icon name="mail" style="color: orange;"></ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <h3>{{user?.email}}</h3>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
       
      </ion-label>
    </ion-item>
    <ion-item>    
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <div>
                <ion-icon name="home" style="color: orange;"></ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <h3>{{user?.adres}}</h3>
              </div>
            </ion-col>
            <ion-col>
              <div>               
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-label>
    </ion-item>
    <ion-item lines="none">    
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <div>
                <ion-icon name="call" style="color: orange;"></ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <h3>{{user?.telefon}}</h3>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
       
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-card style="text-align: center;margin: auto;margin-top: 3%;margin-bottom:3%;">
    <img *ngIf="orderApprovedCheck" style="text-align: center;margin: auto;height: 101px;padding-top: 15px;margin-top: 11px;" src="..\assets\siparislerim.png" />
    <img *ngIf="!orderApprovedCheck" style="text-align: center;margin: auto;height: 101px;padding-top: 15px;margin-top: 11px;" src="..\assets\siparisyok.png" />
    <ion-card-header >
      <ion-card-title *ngIf="orderApprovedCheck">Siparişlerim</ion-card-title>
      <ion-card-title *ngIf="!orderApprovedCheck" style="font-size: 15px;">Daha önce sipariş vermedin.</ion-card-title>
      <ion-button expand="small" s color="tertiary" style="margin-top: 18px;text-transform: none" *ngIf="!orderApprovedCheck" (click)="goHome();">Alışverişe başla</ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let order of orderApproved">  
        <ion-grid></ion-grid>
        <ion-item (click)="orderDetail(order);">
          <ion-label style="font-size:14px">{{order?.dukkan_adi}}           
          </ion-label>
          <div style="float:right;font-size: 15px;color: #ef5e25;"> {{order?.siparis_tutari}} TL</div>
          <ion-icon name="chevron-forward" style="padding-left:5%;font-size: 15px;"></ion-icon>
        </ion-item>              
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
