<ion-app>
  <ion-header translucent>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
        </ion-buttons>
        <ion-title style="font-family: cursive;font-size: 17px">Siparis Detayı</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-item style="margin-top: 5%" lines="none">
      <ion-grid (click)="goDukkanDetail()">
        <ion-row>
          <ion-col>
            <div>
              <ion-avatar slot="start" style="align-items: center;display: flex;justify-content: center;">
                <img src="..\assets\siparislerim.png">                       
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col style="text-align: center;align-items: center;display: flex;justify-content: center;">
            <div>
              <ion-label>
                <h2>{{shopName}}</h2>
                <p>Ödeme Tipi : <label style="color:#f06336">{{orderApproved?.odeme_tipi}}</label></p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="text-align: right;    align-items: center;display: flex;justify-content: center;position: relative;left: 10%;">
            <div>
              <ion-icon name="chevron-forward-outline" style="font-size: 25px;"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-item>

    <ion-list style="margin-top: 5%" >
      <ion-item *ngFor="let order of orders">
        <ion-label style="font-size:14px"><label style="color: #4fa7a0;">( {{order?.adet_kg}} {{order?.birim}} )</label> {{order?.urun_adi}}</ion-label>
        <div style="float:right;font-size: 12px;color: #ef5e25;">{{order.urun_fiyat}} TL</div>
      </ion-item>      
    </ion-list>  
  </ion-content>
  <ion-button style="text-transform: none" expand="full" color="tertiary" style="height: 54px;">
    Toplam : {{totalPrice}} TL         
  </ion-button>
</ion-app>